<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Own</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>用户名</string>
				<key>model_selector</key>
				<string>accountName</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>邮箱</string>
				<key>model_selector</key>
				<string>email</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>网站主页</string>
				<key>model_selector</key>
				<string>webUrl</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>地址</string>
				<key>model_selector</key>
				<string>locationDes</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>账号类型</string>
				<key>model_selector</key>
				<string>accountType</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
		</array>
	</array>
	<key>Other</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>用户名</string>
				<key>model_selector</key>
				<string>accountName</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>网站主页</string>
				<key>model_selector</key>
				<string>webUrl</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>账号类型</string>
				<key>model_selector</key>
				<string>accountType</string>
				<key>controller_selector</key>
				<string></string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>版本库 Repositories</string>
				<key>model_selector</key>
				<string></string>
				<key>controller_selector</key>
				<integer>100</integer>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>Gits</string>
				<key>model_selector</key>
				<string></string>
				<key>controller_selector</key>
				<integer>101</integer>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>更新 Events</string>
				<key>model_selector</key>
				<string></string>
				<key>controller_selector</key>
				<integer>102</integer>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>关注Ta的人</string>
				<key>model_selector</key>
				<string></string>
				<key>controller_selector</key>
				<integer>104</integer>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>Ta关注的人</string>
				<key>model_selector</key>
				<string></string>
				<key>controller_selector</key>
				<integer>105</integer>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
