<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>版本库 Repositories</string>
			<key>icon</key>
			<string></string>
			<key>controller_selector</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>工程 Gits</string>
			<key>icon</key>
			<string></string>
			<key>controller_selector</key>
			<integer>101</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>更新 Events</string>
			<key>icon</key>
			<string></string>
			<key>controller_selector</key>
			<integer>102</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>通知 Notification</string>
			<key>icon</key>
			<string></string>
			<key>controller_selector</key>
			<integer>103</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关注Me的人</string>
			<key>icon</key>
			<string></string>
			<key>model_selector</key>
			<string>followersCount</string>
			<key>controller_selector</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Me关注的人</string>
			<key>icon</key>
			<string></string>
			<key>model_selector</key>
			<string>followingCount</string>
			<key>controller_selector</key>
			<integer>105</integer>
		</dict>
	</array>
</array>
</plist>
