<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>版本库 Repositories</string>
			<key>icon</key>
			<string>side_copy.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>工程 Gits</string>
			<key>icon</key>
			<string>side_copy.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>更新 Events</string>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>通知 Notification</string>
			<key>icon</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关注我的</string>
			<key>icon</key>
			<string></string>
			<key>selector</key>
			<string>followersCount</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我关注的</string>
			<key>icon</key>
			<string></string>
			<key>selector</key>
			<string>followingCount</string>
		</dict>
	</array>
</array>
</plist>
