<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<dict>
		<key>title</key>
		<string>描述</string>
		<key>model_selector</key>
		<string>description</string>
		<key>accessoryType</key>
		<integer>0</integer>
	</dict>
	<key>readMe</key>
	<dict>
		<key>title</key>
		<string>readMe</string>
		<key>model_selector</key>
		<string></string>
		<key>controller_selector</key>
		<string></string>
		<key>accessoryType</key>
		<integer>1</integer>
	</dict>
	<key>fork</key>
	<dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>来源</string>
			<key>model_selector</key>
			<string></string>
			<key>controller_selector</key>
			<string>121</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>title</key>
			<string>所有者</string>
			<key>model_selector</key>
			<string>ownerName</string>
			<key>controller_selector</key>
			<string>120</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>基本信息</key>
	<array>
		<dict>
			<key>title</key>
			<string>全称</string>
			<key>model_selector</key>
			<string>fullName</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>权限</string>
			<key>model_selector</key>
			<string>purviewDes</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>语言</string>
			<key>model_selector</key>
			<string>language</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>大小</string>
			<key>model_selector</key>
			<string>sizeDes</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>创建时间</string>
			<key>model_selector</key>
			<string>createdDateDes</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>更新时间</string>
			<key>model_selector</key>
			<string>updatedDateDes</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>资料</key>
	<array>
		<dict>
			<key>title</key>
			<string>Source</string>
			<key>controller_selector</key>
			<string>127</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Update List</string>
			<key>controller_selector</key>
			<string>100</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Issues</string>
			<key>model_selector</key>
			<string>issuesCountDes</string>
			<key>controller_selector</key>
			<string>122</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Pull Requests</string>
			<key>controller_selector</key>
			<string>123</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>人气</key>
	<array>
		<dict>
			<key>title</key>
			<string>Forkers</string>
			<key>model_selector</key>
			<string>forksCountDes</string>
			<key>controller_selector</key>
			<string>124</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Stared</string>
			<key>model_selector</key>
			<string>starsCountDes</string>
			<key>controller_selector</key>
			<string>125</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Watchers</string>
			<key>model_selector</key>
			<string>watchersCountDes</string>
			<key>controller_selector</key>
			<string>126</string>
			<key>accessoryType</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
