<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>版本库 Repositories</string>
			<key>controller_selector</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Gits</string>
			<key>controller_selector</key>
			<integer>111</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关注Me的人</string>
			<key>model_selector</key>
			<string>followersCount</string>
			<key>controller_selector</key>
			<integer>112</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Me关注的人</string>
			<key>model_selector</key>
			<string>followingCount</string>
			<key>controller_selector</key>
			<integer>113</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>XDStudio发展档</string>
			<key>controller_selector</key>
			<integer>114</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>联系XDStudio</string>
			<key>controller_selector</key>
			<integer>115</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>新闻提要 News Feed</string>
			<key>controller_selector</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>活动 Public Activity</string>
			<key>controller_selector</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>通知 Notifications</string>
			<key>controller_selector</key>
			<integer>102</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>请求 Pull Requests</string>
			<key>controller_selector</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>问题 Issues</string>
			<key>controller_selector</key>
			<integer>104</integer>
		</dict>
	</array>
</array>
</plist>
